<p id="notice"><%= notice %></p>

<p>
  <b>Descripcion:</b>
  <%= @local.descripcion %>
</p>

<p>
  <b>Direccion:</b>
  <%= @local.direccion %>
</p>

<p>
  <b>Distrito:</b>
  <%= @local.distrito %>
</p>

<p>
  <b>Dir google maps:</b>
  <%= @local.dir_google_maps %>
</p>

<p>
  <b>Telefono:</b>
  <%= @local.telefono %>
</p>


<%= link_to 'Edit', edit_local_path(@local) %> |
<%= link_to 'Back', locals_path %>
