<h1>Listing owners</h1>

<table>
  <tr>
    <th>Nombres</th>
    <th>Ap paterno</th>
    <th>Ap materno</th>
    <th>Sexo</th>
    <th>Tipo doc</th>
    <th>Nro doc</th>
    <th>Email</th>
    <th>Password</th>
    <th>Fch nacimiento</th>
    <th>Telefono</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @owners.each do |owner| %>
  <tr>
    <td><%= owner.nombres %></td>
    <td><%= owner.ap_paterno %></td>
    <td><%= owner.ap_materno %></td>
    <td><%= owner.sexo %></td>
    <td><%= owner.tipo_doc %></td>
    <td><%= owner.nro_doc %></td>
    <td><%= owner.email %></td>
    <td><%= owner.password %></td>
    <td><%= owner.fch_nacimiento %></td>
    <td><%= owner.telefono %></td>
    <td><%= link_to 'Show', owner %></td>
    <td><%= link_to 'Edit', edit_owner_path(owner) %></td>
    <td><%= link_to 'Destroy', owner, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Owner', new_owner_path %>
