<h1>Listado de Clientes</h1>

<table>
  <tr>
    <th>Nombres</th>
    <th>Paterno</th>
    <th>Materno</th>
    <th>Telef.</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @customers.each do |customer| %>
  <tr>
    <td><%= customer.nombres %></td>
    <td><%= customer.ap_paterno %></td>
    <td><%= customer.ap_materno %></td>
    <td><%= customer.telefono %></td>
    <td><%= link_to 'Mostrar', customer %></td>
    <td><%= link_to 'Editar', edit_customer_path(customer) %></td>
    <td><%= link_to 'Eliminar', customer, confirm: 'Esta Seguro?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Agregar Cliente', new_customer_path %>
