<%= form_for(@publicity) do |f| %>
  <% if @publicity.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@publicity.errors.count, "error") %> prohibited this publicity from being saved:</h2>

      <ul>
      <% @publicity.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :titulo %><br />
    <%= f.text_field :titulo %>
  </div>
  <div class="field">
    <%= f.label :contenido %><br />
    <%= f.text_area :contenido %>
  </div>
  <div class="field">
    <%= f.label :fch_inicio %><br />
    <%= f.date_select :fch_inicio %>
  </div>
  <div class="field">
    <%= f.label :fch_fin %><br />
    <%= f.date_select :fch_fin %>
  </div>
  <div class="field">
    <%= f.label :tarifa %><br />
    <%= f.text_field :tarifa %>
  </div>
  <div class="field">
    <%= f.label :num_clicks %><br />
    <%= f.number_field :num_clicks %>
  </div>
  <div class="field">
    <%= f.label :ubicacion %><br />
    <%= f.text_field :ubicacion %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
