<h1>Listing publicities</h1>

<table>
  <tr>
    <th>Titulo</th>
    <th>Contenido</th>
    <th>Fch inicio</th>
    <th>Fch fin</th>
    <th>Tarifa</th>
    <th>Num clicks</th>
    <th>Ubicacion</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @publicities.each do |publicity| %>
  <tr>
    <td><%= publicity.titulo %></td>
    <td><%= publicity.contenido %></td>
    <td><%= publicity.fch_inicio %></td>
    <td><%= publicity.fch_fin %></td>
    <td><%= publicity.tarifa %></td>
    <td><%= publicity.num_clicks %></td>
    <td><%= publicity.ubicacion %></td>
    <td><%= link_to 'Show', publicity %></td>
    <td><%= link_to 'Edit', edit_publicity_path(publicity) %></td>
    <td><%= link_to 'Destroy', publicity, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Publicity', new_publicity_path %>
